.page {
  background-color: #e3e3ef;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 30px !important;
  height: calc(100vh - 80px);
  scroll-behavior: smooth; }

.tracks {
  margin: 26px 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #292938;
  overflow: hidden !important; }

.container-fluid {
  padding: 0; }

.btn {
  width: 85px;
  height: 30px;
  margin-left: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23), inset 0 0 2px #505066;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23), inset 0 0 2px #505066;
  background-color: #313141;
  border: 1px solid #13131d;
  font-size: 14px;
  color: #d0d0e2;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  -webkit-transition: .2s all ease-in;
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in; }
  .btn:hover {
    cursor: pointer;
    background-color: #454555; }

.app-container {
  height: 100vh; }
