.player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#313141, 0.98);
  padding: 10px 20px;
}
.play-btn{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
