.track-card{
  width:94px;
  height: 135px;
  margin-right: 15px;


  .track-card__title,
  .track-card__author{
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Ubuntu", sans-serif;
    margin-left: 2px;
  }

  .track-card__title{
    margin-top: 5px;
    font-size: 15px;
    color: rgb(68,68,68);
  }

  .track-card__author{
    font-size: 14px;
    color: rgb(115, 107, 107);
  }

}
